# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!LICENSE

*.class
*.exe

test.*
.vscode*
member*
faces_LBPH*
__pycache__/
# Ignore `bin` dir
__pycache__/
bin/
images/
*/bin/*

# Unignore all `.exe` in `bin` dir
!*/bin/*.exe