# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!LICENSE

*.class
*.exe

.vscode*
member*
faces_LBPH*

# Ignore `bin` dir
bin/
images/
*/bin/*

# Unignore all `.exe` in `bin` dir
!*/bin/*.exe